name: dockerhub_description

on:
  push:
    branches:
      - "main"

jobs:
  dockerhub-core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: runiac/deploy
          short-description: ${{ github.event.repository.description }}
